.packBox {
  position: relative; /* Required for absolute positioning inside */
  background-color: hsl(0, 0%, 90%);
  border-radius: 0.75rem;
  overflow: hidden;
  text-align: right;
  font-family: sans-serif;
  padding: 1px;
  border: 2px solid hsl(0, 0%, 70%);
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.content {
  padding: 1rem;
}

.name {
  font-size: 1.4rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 13px;
  text-align: center;
}

.stars {
  display: flex;
  gap: 0.1rem;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
}

.starFilled {
  color: hsl(0, 0%, 10%);
}

.starEmpty {
  color: hsl(216, 12%, 64%);
}

.list {
  font-size: 0.879rem;
  margin-bottom: 0.5rem;
  padding-right: 1rem;
  list-style: disc;
  font-weight: 600;
}

.price {
  font-size: 0.879rem;
  font-weight: 700;
}
